version: '3'

services:
  faceitapi:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - mongo
      - zookeeper
      - kafka
    ports:
        - 8080:8080
    environment:
      PORT: 8080
      MONGO_HOST: 127.0.0.1
      MONGO_PORT: 27017
      MONGO_USER: root
      MONGO_PASSWORD: example
      MONGO_DB_NAME: faceit
      KAFKA_HOST: 127.0.0.1

  faceitapi-tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    depends_on:
      - faceitapi
    environment:
      FACEIT_ADDR: http://faceitapi:8080

  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - 2181:2181

  kafka:
    image: wurstmeister/kafka
    restart: on-failure
    ports:
      - 9092:9092
    environment:
      KAFKA_ADVERTISED_HOST_NAME: 127.0.0.1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: 'true'
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock

  mongo:
    image: mongo
    restart: always
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: example